*{
    font-family: "Roboto Light" sans-serif;
}
h1, h3{
    text-align: center;
}
.images{
    display: flex;
    justify-content: space-evenly;
}
.play{
    background-color: white;
    border: black solid 2px;
    padding: 18px 40px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    position: relative;
    top: 20px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 70px;
}
.winner{
   font-weight: bold;
    font-size: 30px;
}
.repeat{
    background-color: white;
    border: black solid 2px;
    padding: 18px 40px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    position: relative;
    top: 80px;
}
