form input {
    width: 50%;
    height: 20px;
}
form {
    display: block;
}
button.add, button.clear {
    padding: 10px 20px;
    background-color: lightpink;
    box-shadow: 0 0 10px blueviolet;
}
input.search {
    width: 40%;
    height: 20px;
    left: 20px;
}