button{
    display: block;
    margin: 50px auto 50px;
    padding: 20px 50px;
    background-color: aliceblue;
    border: solid 3px blue;
    color: darkblue;
    font-family: Arial;
    font-size: 26px;
}
div{
    padding: 5px;
    margin: 0px auto;
    text-align: center;
    font-family: Arial;
    color: darkblue;
    font-size: 18px;
}